*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

final_project_workspace/.metadata/.log

final_project_workspace/.metadata/.lock

*.zip

final_project_workspace/.metadata/.plugins/org.eclipse.cdt.core/.log

*.c

*.cpp

final_project_workspace/.metadata/.plugins/org.eclipse.core.resources/.history/10/f056040756b80013111fcf2988f6634a

final_project_workspace/.metadata/.plugins/org.eclipse.core.resources/.history/a7/309c570656b80013111fcf2988f6634a

final_project_workspace/.metadata/.plugins/org.eclipse.core.resources/.history/b6/40ca410656b80013111fcf2988f6634a

final_project_workspace/.metadata/.plugins/org.eclipse.core.resources/.history/f0/0027570656b80013111fcf2988f6634a

*.index

*.snap

*.properties

*.resources

*.prefs

*.launch

*.xml

*.xmi

final_project_workspace/RemoteSystemsTempFiles/.project

*.ini

final_project_workspace/.metadata/.plugins/org.eclipse.team.cvs.core/.running

final_project_workspace/.metadata/.plugins/org.eclipse.rse.ui/.log

*.mark

final_project_workspace/.metadata/.plugins/org.eclipse.rse.core/.log

*.dat

*.txt

final_project_workspace/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

*.log
final_project_workspace/.metadata/.plugins/com.google.gwt.eclipse.core/uiBinderReferences
final_project_workspace/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
final_project_workspace/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
