<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

    <servlet>
        <servlet-name>SearchWebId</servlet-name>
        <servlet-class>com.screaminggreen.sculptor.SearchWebIdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnteredSearch</servlet-name>
        <servlet-class>com.screaminggreen.sculptor.EnteredSearchCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFiles</servlet-name>
        <servlet-class>com.screaminggreen.sculptor.GetFilesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServeFile</servlet-name>
        <servlet-class>com.screaminggreen.sculptor.ServeFileServlet</servlet-class>
    </servlet>
	<servlet>
	    <servlet-name>SuccessfulUpload</servlet-name>
	    <servlet-class>com.screaminggreen.sculptor.SuccessfulUploadServlet</servlet-class>
	</servlet>
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>com.screaminggreen.sculptor.UploadFileServlet</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>Sculptor</servlet-name>
		<servlet-class>com.screaminggreen.sculptor.SculptorServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>SaveForm</servlet-name>
	    <servlet-class>com.screaminggreen.formprocessing.SaveFormServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>Login</servlet-name>
	    <servlet-class>com.screaminggreen.sculptor.LoginServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>Logout</servlet-name>
	    <servlet-class>com.screaminggreen.sculptor.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Register</servlet-name>
	    <servlet-class>com.screaminggreen.sculptor.RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SaveTabOrder</servlet-name>
	    <servlet-class>com.screaminggreen.sculptor.TabOrderServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>LoadTabOrder</servlet-name>
	    <servlet-class>com.screaminggreen.sculptor.LoadTabOrderServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>PopulateForm</servlet-name>
	    <servlet-class>com.screaminggreen.sculptor.PopulateFormServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>LoadStudentSidebar</servlet-name>
	    <servlet-class>com.screaminggreen.sculptor.LoadStudentSidebarServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>LoadStudentMain</servlet-name>
	    <servlet-class>com.screaminggreen.sculptor.LoadStudentMainServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>SearchCourse</servlet-name>
	    <servlet-class>com.screaminggreen.sculptor.SearchServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>DeleteFile</servlet-name>
	    <servlet-class>com.screaminggreen.sculptor.DeleteFileServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>LoadStudentFile</servlet-name>
	    <servlet-class>com.screaminggreen.sculptor.LoadStudentFilesServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>ChangePassword</servlet-name>
	    <servlet-class>com.screaminggreen.sculptor.ChangePasswordServlet</servlet-class>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>Sculptor</servlet-name>
		<url-pattern>/sculptor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>SaveForm</servlet-name>
	    <url-pattern>/saveform</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>Login</servlet-name>
	    <url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>Logout</servlet-name>
	    <url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>Register</servlet-name>
	    <url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>SaveTabOrder</servlet-name>
	    <url-pattern>/savetab</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>LoadTabOrder</servlet-name>
	    <url-pattern>/loadtaborder</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>PopulateForm</servlet-name>
	    <url-pattern>/populateform</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
	    <servlet-name>UploadFile</servlet-name>
	    <url-pattern>/uploadfile</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
	    <servlet-name>SuccessfulUpload</servlet-name>
	    <url-pattern>/successfulupload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>ServeFile</servlet-name>
	    <url-pattern>/servefile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>LoadStudentSidebar</servlet-name>
	    <url-pattern>/loadStudentSidebar</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>LoadStudentMain</servlet-name>
	    <url-pattern>/loadStudentMain</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>GetFiles</servlet-name>
	    <url-pattern>/getfiles</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>SearchCourse</servlet-name>
	    <url-pattern>/searchCourse</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>DeleteFile</servlet-name>
	    <url-pattern>/deletefile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>LoadStudentFile</servlet-name>
	    <url-pattern>/loadfiles</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>EnteredSearch</servlet-name>
	    <url-pattern>/enteredSearch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>SearchWebId</servlet-name>
	    <url-pattern>/searchWebId</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>ChangePassword</servlet-name>
	    <url-pattern>/changePassword</url-pattern>
	</servlet-mapping>
	
	<filter>
    	<filter-name>loggedInFilter</filter-name>
    	<filter-class>com.screaminggreen.filters.LoggedInFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>loggedInFilter</filter-name>
	    <url-pattern>/app/*</url-pattern>
	</filter-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
